
@import "abstracts/variables";

@import "base/mixin";

@import "base/base";

@import "components/navigation";
@import "components/popup";
@import "components/btn";
@import "components/card";
@import "components/section-h1";
@import "components/footer";

@import "layout/hero";

@import "layout/section-schedule";

@import "layout/section-cards";
@import "layout/section-map";
@import "layout/section-buy";
@import "layout/section-about";
@import "layout/section-trainers";
@import "layout/section-news";
