.section__about {
    max-width: 114rem;
    margin: 0 auto;
  
    &--hidden {

        background-image: url(../img/bg.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        display: inline-block;
        text-transform: uppercase;
        text-align: left;
        width: 40%;
        height: 80rem;
        position: absolute;
        top:100rem;
        right: 10rem;
        z-index: -2;

         @include respond(tab-land) {
          display:none;

         }

        &-text {
            padding: 15rem 20rem 15rem 10rem;
        }

         h1 {
             font-size: 3rem;
             line-height: 4rem;
             text-align: left;
             
    }
}
}

.section__elements {

     display: flex;
     flex-wrap: wrap;
         width: 70%;

     @include respond(tab-land) {
          width: 100%;
           justify-content: center;
          margin: 0 auto;
     }
      
     &__item {
         width: 35rem;
         text-align: center;
         line-height: 4rem;
          padding:  4rem;

          @include respond(tab-land) {
              padding: 3rem;
              width: 45rem;
          }

         h3 {
            font-size: 2.5rem;
         }

         p {
             font-size: 2rem;
         }

         &--img {
             margin: 2rem 0;
             width: 7rem;
             height: auto;
             
         }
     }

 }
