.section-buy {

    width: 100%;
    margin: 8rem 0;
    background-color: $color-black;
    color: $color-white;

    &--text {
        display: flex;
        flex-wrap: wrap;
       
        justify-content: space-around;
        max-width: 114rem;
        
        margin: 0 auto;

         @include respond(phone) {
            flex-direction: column;
            justify-content: center;
            align-items: center;


            
         }

    }

    h3 {
     
        font-weight: 500;
        font-size: 2.5rem;
        height: 10rem;
        line-height: 10rem;

        @include respond(phone) {
              font-weight: 500;
              font-size: 2rem;
             



        }

        

    
    }
   

}