.section-news {
  margin: 0 auto;
  padding: 10rem 0;
  max-width: 120rem;

  &__container {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__box {

      &--1 {
        background: url("../img/fitness1.jpg") no-repeat;
      }

      &--2 {
        background: url("../img/fitness2.jpg") no-repeat;
      }
       &--3 {
        background: url("../img/fitness3.jpg") no-repeat;
      }

       &--4 {
        background: url("../img/fitness4.jpg") no-repeat;
      }

       &--5{
        background: url("../img/fitness5.jpg") no-repeat;
      }

      height: 40rem;
      width: 40rem;
      background-position: 50% 50%;
      background-size: cover;
      cursor: pointer;
      color: $color-white;
      position: relative;

      &__text {
        letter-spacing: 0.05rem;

        h4 {
          font-size: 3rem;
          text-transform: uppercase;
          line-height: 4rem;
          padding: 12rem 5rem 0 3rem;
        }

        p {
          font-size: 1.5rem;
          position: absolute;
          left: 2.5rem;
          bottom: 3rem;
        }
      }
      &:hover {
        background: $color-primary;
        color: $color-black;
      }
    }
  }
}
