.btn {
    background-color: $color-primary;
     text-decoration: none;
     color: $color-black;
     font-size: 1.6rem;
     padding: 1.5rem 2.5rem;
     text-transform: uppercase;
          font-weight: 600;
     letter-spacing: 0.1rem;
     display: inline-block;
      margin: 3rem 0;
     transition: 0.5s;
     border: 1px solid transparent;

    

     &--right {
         margin:2.2rem 0;

         @include respond(phone) {
            margin:1rem 0 5rem 0;
         }
        }
    &--big {
        margin-top: 2rem;
        width: 100%;
        
    }
          &:hover,
          &:active {
              background-color: transparent;
              border: 1px solid $color-primary;
              color: $color-primary;
          }
        
        
         
     
    
    

}