header {
  height: 8rem;
  background-color: $color-black;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10rem;
  box-sizing: border-box;

}

.navbar {

  &__toggle {
    color: white;
    float: right;
    height: 8rem;
    line-height: 8rem;
    font-size: 3rem;
    cursor: poiner;
    display: none;

  }

  &__brand img {
    width: 12rem;
    padding-top: 2rem;
    float: left;

  }

  &__list {
    float: right;
    list-style: none;
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;

    &--hidden {
      display: none;
    }

    &--item {
      display: block;

      a {
        color: white;
        text-decoration: none;
        height: 8rem;
        line-height: 8rem;
        padding: 0 2rem;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.05rem;

        &:hover,
        &:active {
          border-bottom: 3px solid $color-primary;

        }

      }

      .active {
        font-weight: 700;
      }

    }

  }

}

@media (max-width:800px) {

  header {
    padding: 0 20px;
  }

  .navbar {

    &__toggle {
      display: block;
    }

    &__list {
      display: none;

      &--hidden {

        position: absolute;
        top: 8rem;
        left: 0;
        width: 100%;
        height: calc(100vh-8rem);
        background: rgba($color-black, 0.85);
        transition: 0.5;
        display: block;
        text-align: center;
        display: none;
      }

    }

  }

}