.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99995;
  background-color: rgba($color-black, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__container {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: all 0.5s 0.2s;
  }

  &__close {
    line-height: 1;

    &:link,
    &:visited {
      font-size: 4rem;
      text-decoration: none;
      color: $color-black;
      position: absolute;
      display: inline-block;
      top: 3rem;
      right: 4rem;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__container {
    width: 75%;
    max-height: 70%;
    background-color: $color-white;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex: wrap;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;

  @include respond(big-descktop) {
        height: 50rem;
 }
    @include respond(tab-pord) {
      width: 100%;
      flex-direction: column;
    }
    @include respond(phone) {
      width: 100%;
      max-height: 100%;
    }

  }

  &__img {
    width: 50%;
    vertical-align: top;
    overflow: hidden;

    @include respond(tab-port) {
      display: none;
    }
  }
   @include respond(big-descktop) {
        width:100%;
 }
  &__text {
    width: 50%;
    margin: 0 auto;
    padding: 6rem;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      margin-bottom: 2rem;

      @include respond(phone) {
        margin: 4rem 0 2rem 0;
        font-size: 2rem;
      }

        @include respond(big-desktop) {
       padding-top: 3rem;
 }
    }
    p {
      font-size: 1.8rem;
      line-height: 3.5rem;
    }

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      padding: 4rem;
      font-size: 1rem;
    }
  }
}
