*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 58%;
  }

}

body {
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  color: $color-black;

}
